@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.brand-logo,
h2 {
  font-family: "Grand Hotel", cursive;
}

.my-card {
}

.auth-card {
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  max-width: 400px;
}

.input-field input[type="text"]:focus,
.input-field input[type="password"]:focus {
  border-bottom: 1px solid rgb(18, 151, 228) !important;
  box-shadow: 0 1px 0 0 rgb(18, 151, 228) !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.gallery img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}
.home {
}
.home-card {
  margin: 25px auto;
  max-width: 500px;
  height: max-content;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.preloader-wrapper {
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 99999;
  display: none;
}

.material-icons {
  cursor: pointer !important;
}

.each-post-postedBy {
  padding: 5px;
  position: absolute;
  line-height: -23px;
  top: 8px;
  color: black;
}

.card .material-icons {
  line-height: 30px;
}

.user-img {
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 50%;
}
.collection .collection-item {
  float: inherit !important;
}

.collection-item  a{
  color: black;
}
